@media (min-width: 992px) {
  .navbar-toggle {
    display: none;
  }
}

body {
  padding-top: 70px;
}

div.container.row {
	background-color : #FFFFFF;
}
.cananh {
	margin-left : 20;
	margin-top : 10;
}